@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Inconsolata:wght@300&family=Nerko+One&family=Open+Sans:wght@300&family=Poppins:wght@300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
.naveber{
    width: 100%;
    height: 85px;
  
}
.nav{
    padding: 2rem 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/* bar section on */
.ber ul{
    display: flex;
    gap: 10px;
}
.ber ul li{
    margin-right: 1rem;
    list-style: none;
}
.ber ul li a{
    font-family: 'Poppins', sans-serif; 
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
}

/* bar section end */

/* logo section on */

.logo{
  font-size: 2rem;
  cursor: pointer;
  color: rgb(11, 11, 220);
}
.logo i{
  color: #e10f0f;
}
.koto{
  color:red;
}

/* logo section end */

/* === === */

.w3-button button  {
  font-size: 30px;
}